* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

.fancybox {
  display: flex;
}

.fancybox .menu-bar {
  width: 10em;

  .button {
    display: block;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #111;
    width: 100%;
    color: #111;
    background: #f9f9f9;
    cursor: pointer;
  }
}

.fancybox .editor {
  width: 100%;
}

.fancybox .section {
  background: #ddd;
  color: #111;
  padding: 0.5em;

  min-height: 1em;
  border: 1px dashed #111;
}

.fancybox p {
  min-height: 1em;
}

.fancybox {
  h1 {
    text-align: center;
  }


}
