.fancybox-pragmatist {
  display: flex;
}

.fancybox-pragmatist .menu-bar {
  width: 10em;

  .button {
    display: block;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #111;
    width: 100%;
    color: #111;
    background: #f9f9f9;
    cursor: pointer;
  }
}

.fancybox-pragmatist .editor {
  width: 100%;
}

.fancybox-pragmatist .section {
  background: #ddd;
  color: #111;
  padding: 0.5em;

  min-height: 1em;
  border: 1px dashed #111;
}

.fancybox-pragmatist .text-section {
  position: relative;
}

.fancybox-pragmatist p {
  min-height: 1em;
}

.fancybox-pragmatist {
  h1 {
    text-align: center;
  }
}
